@using Photography.Core.ViewModels.Photo
@using System.Security.Claims
@using Photography.Core.Interfaces
@using Photography.Extensions
@model DetailsViewModel

@inject IBaseService baseService

@{
    ViewBag.Title = "Детайли";
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>


<div class="row justify-content-center" style="margin: 0 auto; max-width: 1200px;">
    <div class="col-md-12 text-center">
        <img src="@Model.ImageUrl" class="img-fluid" style="max-width: 100%; height: auto;" />

        @if (!Model.IsPrivate)
        {
            <h2 class="mt-3" style="font-size: 2rem; font-weight: bold; margin-bottom: 20px;">
                Рейтинг: @Model.Rating
            </h2>
        }
    </div>

    <div class="col-md-12">
        <div class="card-body" style="line-height: 1.8;">
           
            <h5 style="font-size: 1.5rem; margin-top: 15px; margin-bottom: 20px; line-height: 1.8;">
                @Model.Description
            </h5>

            @if (Model.TagUser != null)
            {
                <h5 class="card-title">Таг: @Model.TagUser</h5>
            }
            
            <td>
                @if (Model.Photographer != null)
                {
                    <p>@Model.Photographer.BrandName  </p>
                }
            </td>
            <p class="card-text">Добавена на: @Model.UploadedAt</p>
        </div>

        <div>
            <strong>Категории:</strong>
            @if (Model.Categories.Any())
            {
                <ul>
                    @foreach (var category in Model.Categories)
                    {
                        <li>@category</li>
                    }
                </ul>
            }
            else
            {
                <p>Няма категории</p>
            }
        </div>

        <div class="card-footer text-center">
            <div class="d-flex justify-content-between align-items-center">
                <a asp-controller="Photo" asp-action="Gallery" class="btn btn-warning d-flex justify-content-center align-items-center flex-fill mx-1">
                    Върни се
                </a>

                @if (User?.Identity?.IsAuthenticated == true && currentUserId == @Model.UserOwnerId.ToString() && @Model.IsDeleted == false)
                {
                    <a asp-controller="Photo" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger d-flex justify-content-center align-items-center flex-fill mx-1">
                        Изтрий
                    </a>

                    @if (await baseService.IsUserPhotographerAsync(this.User.GetUserId()))
                    {
                        <a asp-controller="Photo" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary d-flex justify-content-center align-items-center flex-fill mx-1">
                            Редактирай
                        </a>
                    }

                    <form asp-controller="Photo" asp-action="AddToFavorite" method="post" class="d-flex justify-content-center align-items-center flex-fill mx-1">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <button type="submit" class="btn btn-success w-100">Добави в любими</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
