@using Photography.Core.ViewModels.Photo
@model IEnumerable<FavoriteViewModel>

@{
    ViewData["Title"] = "Любими";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

@foreach (var photo in Model)
{
    <div class="row align-items-center mb-4 py-3" style="border-bottom: 1px solid #ccc;">
        <div class="col-md-2 text-center">
            <img src="@photo.ImageUrl" class="img-fluid" style="width: 200px; height: auto; object-fit: contain;" />
        </div>
        <div class="col-md-4 text-start">
            <h5 class="mb-0">@photo.TagUser</h5>
        </div>
      
        <div class="d-flex flex-column align-items-end">
            <form asp-controller="Order" asp-action="OrderList" asp-route-id="@photo.Id" method="post" >
                <input type="hidden" name="id" value="@photo.Id" />
                <button type="submit" class="btn btn-success mb-2 w-100 button-height">Поръчай</button>
            </form>

            <form asp-controller="Photo" asp-action="RemoveFromFavorite" asp-route-id="@photo.Id" method="post">
                <input type="hidden" name="id" value="@photo.Id" />
                <button type="submit" class="btn btn-danger mb-2 w-100 button-height">Премахни от любими</button>
            </form>
        </div>

    </div>
}