@using Photography.Core.ViewModels.Photo
@using System.Security.Claims
@model IEnumerable<GalleryPhotoViewModel>

@{
    ViewBag.Title = "Галерия";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var photo in Model)
    {
        if (!photo.IsPrivate || photo.UserOwnerId == Guid.Parse((ReadOnlySpan<char>)User.FindFirst(ClaimTypes.NameIdentifier)?.Value))
        {
            <div class="card col-4" style="width: 20rem; ">
                <div class="card-body">
                    <h4 class="card-title mt-1">@photo.Title</h4>
                    <img class="card-img-top" src=@photo.ImageUrl alt="Image">
                    <h5 class="card-title mt-1">@photo.Rating</h5>
                </div>

                <a asp-controller="Photo" asp-action="Details" asp-route-id="@photo.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Детайли</a>
                <a asp-controller="Photo" asp-action="AddToFavorite" asp-route-id="@photo.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Добави в любими=</a>
            </div>
        }
    }
</div> 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}