@using Photography.Core.ViewModels.PhotoShoot
@using Photography.Extensions
@using Photography.Core.Interfaces
@model IEnumerable<AllPhotoShootsViewModel>
@inject IBaseService BaseService

@if (TempData["Message"] != null)
{
    <div id="declarationAlert" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    @foreach (var photoShoot in Model)
    {
        <div class="card col-12 mb-4">
            <div class="card-header text-center bg-light">
                <h3 class="fw-bold">@photoShoot.Name</h3>
            </div>

            <div class="card-body">
                <div class="d-flex flex-row justify-content-center mb-3">
                    @if (!string.IsNullOrEmpty(photoShoot.ImageUrl1))
                    {
                        <div class="me-3" style="width: 400px; height: 400px;">
                            <img class="card-img-top" src="@photoShoot.ImageUrl1" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(photoShoot.ImageUrl2))
                    {
                        <div class="me-3" style="width: 400px; height: 400px;">
                            <img class="card-img-top" src="@photoShoot.ImageUrl2" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(photoShoot.ImageUrl3))
                    {
                        <div class="me-3" style="width: 400px; height: 400px;">
                            <img class="card-img-top" src="@photoShoot.ImageUrl3" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                    }
                </div>
                <div class="mb-3 text-center">
                    <div class="border p-3 rounded bg-light">
                        <p class="text-dark fs-4">@photoShoot.Description</p>
                    </div>
                </div>

                @if (User.Identity?.IsAuthenticated ?? false )
                {
                    @if (!await BaseService.IsUserPhotographerAsync(this.User.GetUserId()))
                    {
                        <div class="text-center">
                            <form asp-controller="PhotoShoot" asp-action="DeclareParticipation" method="post">
                                <input type="hidden" name="id" value="@photoShoot.Id" />
                                <button type="submit" class="btn btn-success btn-lg">Заяви участие</button>
                            </form>
                        </div>
                    }
                }
            </div>
        </div>
    }
</div>

            

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    @*  script for hiding alert after 3 seconds *@
    <script>
        document.addEventListener("DOMContentLoaded",
            function () {
                var alert = document.getElementById("declarationAlert");
                if (alert) {

                    setTimeout(function () {
                        var bsAlert = new bootstrap.Alert(alert); // Bootstrap alert
                        bsAlert.close();
                    },
                        3000);
                }
            });


    </script>
}